.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  margin: 5rem 39rem;
  background-color: #42484d;
  padding: 2rem;
  border-radius: 1.5rem;
}
.login input {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  margin-bottom: 2rem;
}
